@import 'tailwindcss/components';

@layer components {
  .header {
    @apply h-full bg-naranja shadow-md;
  }

  .sidebar {
    @apply h-full;
  }

  .sidebar--list {
    @apply flex flex-col justify-center gap-5 h-full;
  }

  .sidebar--item {
    @apply flex items-center justify-center;
    @apply rounded-md shadow-md bg-white h-10 w-auto mx-2;
    @apply ease-in-out duration-300;
    @apply hover:bg-white/70 hover:duration-100;
    @apply active:bg-white/30 active:shadow-lg active:duration-100;
  }
}