@tailwind base;

@layer base {
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
		outline: none;
		list-style-type: none;
	}

	html {
		font-size: 100%;
	}

	body {
		font-family: 'Poppins', sans-serif;
	}

	h1 {
		@apply text-marron;
		font-weight: 600;
		font-size: 2.25rem;
	}

	h2 {
		@apply text-marron;
		font-weight: 700;
		font-size: 1.5rem;
	}

	h3 {
		@apply text-naranja;
		font-weight: 600;
		font-size: 1.25rem;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}
}

@tailwind components;
@tailwind utilities;
